## this would be applying RL without clustring

In [1]:
import pandas as pd
import os

import gymnasium as gym
from gym import Env
from gym.spaces import Discrete, Box, Dict, Tuple, MultiBinary, MultiDiscrete

from stable_baselines3 import PPO

In [ ]:
#get path of the curr project
print(os.getcwd())

In [2]:
df = pd.read_csv("C:/Users/AbdulRahman/Desktop/gradproj/Grad-Project/Implementation/AI/DataSet/lateset Dataset Main/pre_processed_df_without.csv")

In [3]:
df.head()

,latitude,longitude,stars,review_count,attributes_RestaurantsPriceRange2,attributes_GoodForKids,attributes_Ambience_touristy,attributes_Ambience_romantic,attributes_Ambience_intimate,attributes_Ambience_trendy,attributes_Ambience_classy,attributes_Ambience_casual,Bars_Night,Beauty_Health_Care,Cafes,GYM,Restaurants_Cuisines,Shops
0,39.955505,-75.155564,4.0,80,1,1,0,0,0,0,0,1,0,0,1,0,1,0
1,39.953949,-75.143226,4.0,245,2,0,0,0,0,0,1,0,0,0,0,0,1,0
2,39.943223,-75.162568,4.5,205,1,1,0,0,0,0,0,1,0,0,0,0,1,0
3,40.006707,-75.289671,3.5,109,1,1,0,0,0,0,0,1,0,0,0,0,1,0
4,39.962582,-75.135657,3.5,65,2,1,0,0,0,0,1,0,0,0,0,0,1,0